.loader:hover{
	animation: rotating 1s infinite;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 6px solid #e5e5e5;
	border-top-color: #51d4db;
}

@keyframes rotating{

	to{
		transform: rotate(1turn);
	}


}